<!Doctype html>
<html>
  <head>
    <meta charset = "utf-8" />
    <title>블로그</title>
  </head>
  <body>
    <h2>게시판</h2>
    <a href = "/create">글쓰러가기</a>
    <hr />
    <% @posts.each do |p| %>
    <p><%= p.id %></p>
    <p><%= p.title %></p>
    <p><%= p.content %> </p>
    <p><%= p.created_at %> </p>

    <p><a href = "/posts/<%= p.id %>"> 글 보러가기</a></p>
    <p><a href = "/destroy/<%= p.id %>">[x]</a></p>
    <p><a href="/edit/<%= p.id %>">수정하러 가기</a></p>
    <hr />
    <%end%>
  </body>
</html>
